SECRET_KEY=django-insecure-en19p_g&#(c71^1f3m4qp$8m=*=a!$7c*k3y3!pko^p6#6x_o6
ALLOWED_HOSTS=*
DEBUG=True

# The git environmental variables are used when we build and publish releases
GIT_COMMIT_HASH=n/a
GIT_COMMIT_TIME=0000000000
GIT_COMMIT_COUNT=-1
